*.o
.deps
Makefile.in
aclocal.m4
configure
*.cache
config.log
config.status
/Makefile
config.h
config.h.in
/compile
/depcomp
/doc
/install-sh
/missing
/src/fusedav
/src/Makefile
/stamp-h1
*~
*.pyc
/tests/readrecursive
/tests/readwhatwaswritten
/tests/continualwrites
/tests/forensic-haven-test
/tests/openunlinkclose
/tests/trunc
/src/*.plist
_trial_temp*

