*.cache
*.o
*.pyc
*.rpm
*~
.*.swp
.deps
/Makefile
/compile
/depcomp
/doc
/extract
/install-sh
/missing
/src/*.plist
/src/Makefile
/src/fusedav
/stamp-h1
/tests/continualwrites
/tests/forensic-haven-test
/tests/openunlinkclose
/tests/readrecursive
/tests/readwhatwaswritten
/tests/rename
/tests/trunc
LATEST_RPM
Makefile.in
VERSION
_trial_temp*
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
new-version.sh
pkg
tests/one-open-many-writes
tests/perfanalysis-read
tests/perfanalysis-write
tests/stat-fstat
tests/stat-fstat-unlink
tests/stat-stat
tests/stat-stat-unlink
tests/stat-vs-fstat
