---
# all-purpose workspace persister
persist_to_workspace: &persist_to_workspace
  persist_to_workspace:
    root: .
    paths:
      - ./

version: 2.1

# consolidate
executors:
  python-executor:
    working_directory: ~/pantheon-systems/fusedav
    docker:
      - image: cimg/python:2.7.18
  ruby-executor:
    working_directory: ~/pantheon-systems/fusedav
    docker:
      - image: cimg/ruby:2.4.10

jobs:
  build-test:
    executor: python-executor
    parallelism: 1
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Hack GitHub credentials into git URL
          command: |
            git config --global url."https://$GITHUB_TOKEN:x-oauth-basic@github.com/pantheon-systems/".insteadOf "git@github.com:pantheon-systems/"
      - run:
          name: Set up version
          command: bash scripts/version.sh
      - run:
         name: Build the image
         command: bash scripts/docker-outer.sh
      - *persist_to_workspace

  deploy-dev:
    executor: ruby-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install and Push to Package Cloud
          command: |
            gem install package_cloud -v 0.2.45
            bash scripts/push_packagecloud.sh internal

  deploy-prod:
    executor: ruby-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Install and Push to Package Cloud
          command: |
            gem install package_cloud -v 0.2.45
            bash scripts/push_packagecloud.sh internal

workflows:
  build-test-deploy:
    jobs:
      - build-test:
          name: build-test-dev
          filters:
            branches:
              ignore:
                - master
      - build-test:
          name: build-test-prod
          context:
            - sig-go-release
          filters:
            branches:
              only:
                - master
      - deploy-dev:
          requires:
            - build-test-dev
          context:
            - sig-go-release
          filters:
            branches:
              only:
                - dev
                - yolo
                - stage
      - deploy-prod:
          requires:
            - build-test-prod
          context:
            - sig-go-release
          filters:
            branches:
              only:
                - master
