Source: fusedav
Section: web
Priority: optional
Maintainer: Sebastian Harl <tokkee@debian.org>
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.14.6), autotools-dev, libneon27-gnutls-dev, libfuse-dev (>= 2.5), libattr1-dev, lynx, dpatch
Standards-Version: 3.8.4
Homepage: http://0pointer.de/lennart/projects/fusedav/
Vcs-Git: git://git.tokkee.org/pkg-fusedav.git
Vcs-Browser: http://git.tokkee.org/?p=pkg-fusedav.git

Package: fusedav
Architecture: linux-any kfreebsd-any
Depends: fuse [linux-any] | fuse4bsd [kfreebsd-any], ${shlibs:Depends}, ${misc:Depends}
Description: filesystem to mount WebDAV shares
 fusedav is a userspace filesystem driver that allows you to mount WebDAV
 shares. This way you can transparently edit and manage files on a remote
 server.
 .
 It uses FUSE (Filesystem in USErspace), thus you need a FUSE-enabled kernel.
 .
 WebDAV (Web-based Distributed Authoring and Versioning) is a set of
 extensions to the HTTP protocol which allows users to collaboratively edit
 and manage files on remote web servers.

Source: fusedav
Section: utils
Priority: optional
Maintainer: Sebastien ESTIENNE <sebastien.estienne@gmail.com>
Build-Depends: debhelper (>= 5.0.0), autotools-dev, libfuse-dev (>= 2.5), libneon25-dev, pkg-config, lynx
Standards-Version: 3.6.2

Package: fusedav
Architecture: any
Depends: ${shlibs:Depends}, fuse-utils
Suggests: fuse-module
Description: filesystem client based on WebDAV Protocol
 fusedav is a filesystem client based on the WebDAV protocol
 .
 fusedav is based on FUSE (userspace filesystem framework for Linux),
 thus you will have to prepare fuse kernel module to be able to use it.
 .
 Homepage: http://fuse.sourceforge.net/
